---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title='WyeWorks.'>
  <Header />
  <main></main>
</Layout>

<style>
  main {
  }
</style>
